In [25]:
!pip install cybotrade-datasource
!pip install nest_asyncio

Requirement already satisfied: cybotrade-datasource in c:\users\amilm\anaconda3\lib\site-packages (0.1.1)
Requirement already satisfied: nest_asyncio in c:\users\amilm\anaconda3\lib\site-packages (1.6.0)

In [7]:
# Bybit (USDT/USDC Spot)

import cybotrade_datasource
from datetime import datetime, timezone
import pandas as pd

data = await cybotrade_datasource.query_paginated(
    api_key='rBXiCx58jJGLpVvy9ex7pHWt4usCfie3jCvnL9ypZdODodbp',
    topic='bybit-spot|candle?symbol=BTCUSDT&interval=1h',
    start_time=datetime(2024, 1, 1, tzinfo=timezone.utc),
    end_time=datetime(2024, 1, 10, tzinfo=timezone.utc)
)

df = pd.DataFrame(data)
df.head()

      start_time     close      high       low      open      volume
0  1704067200000  42475.28  42552.00  42260.01  42284.00  175.962336
1  1704070800000  42610.56  42777.73  42430.01  42475.28  255.900950
2  1704074400000  42583.06  42635.99  42501.00  42610.56   98.789760
3  1704078000000  42339.30  42591.99  42218.44  42583.06  208.943628
4  1704081600000  42400.00  42400.00  42209.65  42339.30  149.562886

In [9]:
# Bybit (USDT/USDC Perpetual)

import cybotrade_datasource
from datetime import datetime, timezone
import pandas as pd

data = await cybotrade_datasource.query_paginated(
    api_key='rBXiCx58jJGLpVvy9ex7pHWt4usCfie3jCvnL9ypZdODodbp',
    topic='bybit-linear|candle?symbol=BTCUSDT&interval=1h',
    start_time=datetime(2024, 1, 1, tzinfo=timezone.utc),
    end_time=datetime(2024, 1, 10, tzinfo=timezone.utc)
)

df = pd.DataFrame(data)
df.head()

      start_time    close     high      low     open    volume
0  1704067200000  42517.4  42610.9  42300.2  42324.8  3038.207
1  1704070800000  42661.3  42842.9  42475.1  42517.4  3308.231
2  1704074400000  42631.8  42691.9  42550.8  42661.3  1651.447
3  1704078000000  42384.1  42641.4  42271.5  42631.8  3499.277
4  1704081600000  42446.3  42448.0  42250.5  42384.1  1800.157

In [11]:
# Bybit (Inverse Perpetual)

import cybotrade_datasource
from datetime import datetime, timezone
import pandas as pd

data = await cybotrade_datasource.query_paginated(
    api_key='rBXiCx58jJGLpVvy9ex7pHWt4usCfie3jCvnL9ypZdODodbp',
    topic='bybit-inverse|candle?symbol=BTCUSDT&interval=1h',
    start_time=datetime(2024, 1, 1, tzinfo=timezone.utc),
    end_time=datetime(2024, 1, 10, tzinfo=timezone.utc)
)

df = pd.DataFrame(data)
df.head()

      start_time    close     high      low     open    volume
0  1704067200000  42517.4  42610.9  42300.2  42324.8  3038.207
1  1704070800000  42661.3  42842.9  42475.1  42517.4  3308.231
2  1704074400000  42631.8  42691.9  42550.8  42661.3  1651.447
3  1704078000000  42384.1  42641.4  42271.5  42631.8  3499.277
4  1704081600000  42446.3  42448.0  42250.5  42384.1  1800.157

In [13]:
import cybotrade_datasource
from datetime import datetime, timezone
import pandas as pd

data = await cybotrade_datasource.query_paginated(
    api_key='rBXiCx58jJGLpVvy9ex7pHWt4usCfie3jCvnL9ypZdODodbp',
    topic='binance-spot|candle?symbol=BTCUSDT&interval=1h',
    start_time=datetime(2024, 1, 1, tzinfo=timezone.utc),
    end_time=datetime(2024, 1, 10, tzinfo=timezone.utc)
)

df = pd.DataFrame(data)
df.head()

      start_time     close      high       low      open      volume
0  1704067200000  42475.23  42554.57  42261.02  42283.58  1271.68108
1  1704070800000  42613.56  42775.00  42431.65  42475.23  1196.37856
2  1704074400000  42581.10  42638.41  42500.00  42613.57   685.21980
3  1704078000000  42330.49  42586.64  42230.08  42581.09   794.80391
4  1704081600000  42399.99  42399.99  42209.46  42330.50   715.41760

In [15]:
import cybotrade_datasource
from datetime import datetime, timezone
import pandas as pd

data = await cybotrade_datasource.query_paginated(
    api_key='rBXiCx58jJGLpVvy9ex7pHWt4usCfie3jCvnL9ypZdODodbp',
    topic='binance-linear|candle?symbol=BTCUSDT&interval=1h',
    start_time=datetime(2024, 1, 1, tzinfo=timezone.utc),
    end_time=datetime(2024, 1, 10, tzinfo=timezone.utc)
)

df = pd.DataFrame(data)
df.head()

      start_time    close     high      low     open    volume
0  1704067200000  42503.5  42603.2  42289.6  42314.0  8459.477
1  1704070800000  42647.9  42832.0  42462.0  42503.5  9043.411
2  1704074400000  42620.4  42676.9  42530.0  42647.9  4653.067
3  1704078000000  42369.8  42630.0  42270.0  42620.5  8119.880
4  1704081600000  42436.6  42439.8  42235.2  42369.8  6356.536

In [29]:
import pandas as pd
from datetime import datetime, timezone
import nest_asyncio

nest_asyncio.apply()  # Fix async event loop for Jupyter

async def fetch_data():
    try:
        data = await cybotrade_datasource.query_paginated(
            api_key='rBXiCx58jJGLpVvy9ex7pHWt4usCfie3jCvnL9ypZdODodbp',
            topic='cryptoquant|miner-flow',
            start_time=datetime(2024, 1, 1, tzinfo=timezone.utc),
            end_time=datetime(2024, 1, 2, tzinfo=timezone.utc)  # Smaller range
        )
        return pd.DataFrame(data)
    except Exception as e:
        print(f"RustPanic resolved: {e}")
        return pd.DataFrame()

df = await fetch_data()
df.head()

RustPanic resolved: rust future panicked: unknown error

Empty DataFrame
Columns: []
Index: []